
<h1>Upload XML</h1>

<form enctype="multipart/form-data" method="post" asp-action="UploadSVG">
    <div>
        <label for="svgFile">Select SVG file:</label>
        <input type="file" id="svgFile" name="svgFile" accept=".svg" />
    </div>
    <button type="submit">Upload</button>
</form>