@{
    ViewData["Title"] = "Home Page";
}

<h2>@ViewBag.ApplicationName</h2>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<img src="https://www.cso.ie/en/media/csologo.png" width=500/>



