<h1>XSS Demonstration?</h1>

Enter a comment:
<textarea type="text" rows="5" cols="40" id="txtComment"></textarea>

<div id="content">
</div>

<hr />

<form method="post" action="/XSS/">
    <textarea id="userComment" name="userComment" type="text" rows="5" cols="40"></textarea>
    <input type="submit" value="Submit"/>
</form>

<div>
    @Html.Raw(ViewBag.UserComment);
</div>

@section Scripts {
    <script>
        //$('#txtComment').on('blur', ()=>{
        //    let comment = document.getElementById('txtComment').value;
        //
        //    document.getElementById('content').innerHTML = comment;
        //});

        document.getElementById('txtComment').addEventListener('blur', function () {
            const userInput = this.value;
            document.getElementById('content').innerHTML = userInput;
        });
    </script>
}

